######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup

!*/build/*.java
!*/build/*.html
!*/build/*.xml
atcrowdfunding-bean/src/main/resources/
atcrowdfunding-bean/src/test/
atcrowdfunding-common/src/
atcrowdfunding-manager-api/src/main/resources/
atcrowdfunding-manager-api/src/test/
atcrowdfunding-manager-impl/src/main/java/
atcrowdfunding-manager-impl/src/test/
atcrowdfunding-web/src/main/java/
atcrowdfunding-web/web/WEB-INF/jsp/
